# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# User configs & private profiles/session files
users/
*cookies.txt
.spotipy
spotify_cache/

# Local downloaded music & media dirs
music/
downloads/

# Developer scratchpad, test, and debug folders
scratch/
test/
debug/

# Sync files & temporary logs/cache files
.sync/
*.log
*.tmp
.env
.env.*
*.env
.DS_Store
.idea/
.vscode/
